/*Created with Adobe RoboHelp 2019.*/
body {
  font-family: Calibri;
  line-height: 1.5;
  font-size: 14px;
}
h1 {
  font-weight: bold;
  font-size: 24.0pt;
  color: #444444;
}
h2 {
  font-weight: bold;
  font-size: 18.0pt;
}
h3 {
  font-weight: bold;
  font-size: 14.0pt;
  color: #444444;
  text-decoration: none;
}
h4 {
  font-weight: bold;
  font-size: 12.0pt;
}
h5 {
  font-weight: bold;
  font-size: 10.0pt;
}
h6 {
  font-weight: bold;
  font-size: 8.0pt;
}
p {
  font-size: 11pt;
  margin-top: 4.0pt;
  margin-bottom: 4.0pt;
  color: #444444;
}
a.expandspot {
  color: #008000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
a.dropspot {
  cursor: pointer;
  font-size: 14px;
  font-family: Calibri;
  text-decoration: none;
  color: #0000FF;
}
a.glossterm {
  color: #800000;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
a.minitoc-caption {
  text-decoration: none;
  color: initial;
  font-weight: bold;
  font-size: 12pt;
}
p.minitoc-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.minitoc-list {
  padding-left: 40px;
  margin-left: 0px;
  list-style: none;
  counter-reset: item1;
}
ol.minitoc-list ol {
  list-style: none;
}
a.minitoc-list-item {}
p.seealso-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.seealso-list-item {}
p.reltopics-caption {
  font-weight: bold;
  font-size: 12pt;
}
ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
a.reltopics-list-item {}
ol.Decimal {
  list-style-type: decimal;
  counter-reset: item1;
  list-style: none;
  padding-left: 40px;
  margin-left: 8px;
}
ul.Disc {
  list-style-type: disc;
}
ol.AlphaNumeric {
  list-style: decimal;
}
ol.AlphaNumeric>li>ol {
  list-style: lower-alpha;
}
ol.AlphaNumeric>li>ol>li>ol {
  list-style: lower-roman;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol {
  counter-reset: item4;
  list-style: none;
  padding-left: 40px;
  margin-left: -16px;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li {
  position: relative;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: "("counter(item4, decimal)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item5;
  padding-left: 40px;
  margin-left: -16px;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: "("counter(item5, lower-alpha)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: none;
  counter-reset: item6;
  padding-left: 40px;
  margin-left: -16px;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: "("counter(item6, lower-roman)")";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
ol.AlphaNumeric>li>ol>li>ol>li>ol>li>ol>li>ol>li {
  position: relative;
}
ol.RoundSquare {
  list-style: disc;
}
ol.RoundSquare>li>ol {
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol {
  list-style: circle;
}
ol.RoundSquare>li>ol>li>ol>li>ol {
  list-style: disc;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol {
  list-style: square;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol {
  list-style: circle;
}
ol.Decimal>li>ol {
  list-style: none;
  counter-reset: item2;
  padding-left: 40px;
  margin-left: -16px;
}
ol.Decimal>li>ol>li>ol {
  counter-reset: item3;
  list-style: none;
  padding-left: 40px;
  margin-left: -16px;
}
ol.Decimal>li>ol>li>ol>li {
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
}
ol.Decimal>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item3, decimal)".";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
  color: #444444;
}
ol.Decimal>li>ol>li {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}
ol.Decimal>li>ol>li:before {
  counter-increment: item2;
  content: counter(item2, disc);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
  margin-left: 0px;
  color: #444444;
}
ol>li>ol {
  counter-reset: item2;
  list-style: none;
  padding-left: 40px;
  margin-left: -16px;
}
ol>li>ol>li {
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
}
ol>li>ol>li:before {
  counter-increment: item2;
  content: counter(item2, decimal);
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
}
ol.Decimal>li {
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
}
ol.Decimal>li:before {
  counter-increment: item1;
  content: counter(item1, decimal)".";
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
  font-family: Calibri;
  font-size: 14px;
  color: #444444;
}
table.Table_Style_1 {
  margin-left: 0px;
  float: left;
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  color: #444444;
}
table.Table_Style_1 td {
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
table.Table_Style_2 {
  border-width: 1px;
  border-style: none;
  border-color: transparent;
  border-left-width: 1px;
  border-left-style: none;
  border-left-color: transparent;
  border-top-width: 1px;
  border-top-style: none;
  border-top-color: transparent;
  border-right-width: 1px;
  border-right-style: none;
  border-right-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: none;
  border-bottom-color: transparent;
}
table.Table_Style_2 td {
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  border-width: 1px;
  border-style: none;
  border-color: transparent;
  border-left-width: 1px;
  border-left-style: none;
  border-left-color: transparent;
  border-top-width: 1px;
  border-top-style: none;
  border-top-color: transparent;
  border-right-width: 1px;
  border-right-style: none;
  border-right-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: none;
  border-bottom-color: transparent;
  vertical-align: top;
}
b {}
ul.Square {
  list-style-type: square;
}
p.Back button {
  color: #444444;
  font-size: 18px;
}
table.Table_Style_Back_Forward {
  font-size: 14pt;
  font-weight: bold;
  border-width: 1px;
  border-style: none;
  border-color: transparent;
  border-left-width: 1px;
  border-left-style: none;
  border-left-color: transparent;
  border-top-width: 1px;
  border-top-style: none;
  border-top-color: transparent;
  border-right-width: 1px;
  border-right-style: none;
  border-right-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: none;
  border-bottom-color: transparent;
  color: #444444;
  text-decoration: underline;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
table.Table_Style_Back_Forward td {
  border-width: 0px;
  border-color: transparent;
  border-left-width: 0px;
  border-left-color: transparent;
  border-top-width: 0px;
  border-top-color: transparent;
  border-right-width: 0px;
  border-right-color: transparent;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-style: none;
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
}
table.borderonly {
  border-collapse: collapse;
}
table.borderonly td {
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #bfbfbf;
}
ol.LowerAlpha {
  list-style-type: lower-alpha;
}
ol.minitoc-list>li {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}
ol.minitoc-list>li:before {
  counter-increment: item1;
  content: none;
  text-align: right;
  position: absolute;
  left: -44px;
  margin-right: 4px;
  width: 40px;
  overflow: hidden;
  font-size: 11pt;
  color: #444444;
}